In [1]:
! pip3 install numpy
! pip install pandas
! pip3 install petl

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.22.1)
WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
/bin/bash: pip: command not found
Requirement already satisfied: petl in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.7.8)
WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import pandas as pd
import petl as etl

In [5]:
bassetlaw_df = pd.read_csv("2010-2020_Bassetlaw_outlet.csv")
bassetlaw_df

/var/folders/46/d6y3j52n45d49c28f7pxx9v00000gn/T/ipykernel_30816/1476093167.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  bassetlaw_df = pd.read_csv("2010-2020_Bassetlaw_outlet.csv")

,year,month,day,hour,sku,quantity_purchased,amount_in_gbp
0,2010,1,9,0,chocolate twist,182,145.6
1,2010,1,9,0,plastic sunshades,98,313.6
2,2010,1,9,0,lg washing machine,151,12080.0
3,2010,1,9,0,fresh whole chicken,230,257.6
4,2010,1,9,0,free range large eggs x12,150,180.0
...,...,...,...,...,...,...,...
1218694,2013,12,24,23,Lemon,156,37.44
1218695,2013,12,24,23,apple macbook air mid 2009,226,343520.0
1218696,2013,12,24,23,Organic mILK,234,280.80000000000007
1218697,2013,12,24,23,British baking potatoes loose,76,50.464000000000006
1218698,2013,12,24,23,hotpoint washing machine,222,14208.0

In [4]:

# This below is how to check if something contains a number. Need to check this with the columns 
# with numbers to make sure that they don't contain any values that aren't numbers
sentence = '34'
sentence.isnumeric()

# need to check everything that could go wrong eg. month is it below 1 or above 12. Day is it below 1 or above 31, 


# select in etl -- used for filtering date to select data that mathces condition.

True